Send_Emails_to_CRM_Contacts.json
{
  "name": "Send Emails to CRM Contacts",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -540,
        0
      ],
      "id": "9b77c45c-cf9e-47b7-b0aa-2cc46c4e1dba",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI",
          "mode": "list",
          "cachedResultName": "CRM Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "email_status",
              "lookupValue": "pending"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -320,
        0
      ],
      "id": "b6493d45-9739-4b96-b7fa-26dc2b523269",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LG61qZJDIBExvyx1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "shmily.vice0402@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "=\"Welcome from\" +  {{ $json.company }}",
        "html": "=Hi {{$json[\"first_name\"]}},\n\nThanks for being a great customer at {{$json[\"company\"]}}!  \nYour most recent product purchase was: {{$json[\"last_product_purchased\"]}}.  \nJust a quick reminder that your renewal date is: {{$json[\"renewal_date\"]}}.\n\nBest regards,  \nYour Automation Team",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        -100,
        0
      ],
      "id": "236abe57-820e-4a80-bf6d-761bfa97feca",
      "name": "Send Email",
      "webhookId": "a9d34552-0175-4d48-875e-1af253b8f6e2",
      "credentials": {
        "smtp": {
          "id": "aOsFLyYKO2BcksYH",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8a4386e0-ecdc-4a47-9ae2-6423aabeafae",
              "leftValue": "={{ $json.response }}",
              "rightValue": "=OK",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        120,
        0
      ],
      "id": "f17b7998-e807-42d6-9798-bc9462ef8e7b",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI",
          "mode": "list",
          "cachedResultName": "CRM Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_contacted": "={{ new Date().toISOString() }}",
            "email_status": "sent",
            "email": "={{ $json.envelope.to[0] }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_product_purchased",
              "displayName": "last_product_purchased",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "renewal_date",
              "displayName": "renewal_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_contacted",
              "displayName": "last_contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        -100
      ],
      "id": "a332e4b4-6ede-44e1-90d8-3370a929a02f",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LG61qZJDIBExvyx1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI",
          "mode": "list",
          "cachedResultName": "CRM Test",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "工作表1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1FIMJVorxR6PKjyoS9Yc-y-jVDPiM-qFZ9ps8tUNOhGI/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email_status": "error",
            "last_contacted": "{{ new Date().toISOString() }}",
            "email": "={{ $json.envelope.to[0] }}"
          },
          "matchingColumns": [
            "email"
          ],
          "schema": [
            {
              "id": "first_name",
              "displayName": "first_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_product_purchased",
              "displayName": "last_product_purchased",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "renewal_date",
              "displayName": "renewal_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "email_status",
              "displayName": "email_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_contacted",
              "displayName": "last_contacted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        340,
        100
      ],
      "id": "07a1618a-669c-4c1c-b0d1-eeed839fbd80",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LG61qZJDIBExvyx1",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5e0873df-90b1-4611-8386-6a001137201a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a758aa948960e58600efcb4cdcaf2bc0ce78e0929284e8df6e1faf56d4ded76c"
  },
  "id": "KAfgHYn8aGKCfelu",
  "tags": []
}